params {
     locus      = 'chr1:181049066-181049110'
     shards     = 's3://512426816668-gel-data-resources/dragen3.7.8/AggV3_resources/manifests/genomic_data/biallelic_shards.bed'
     samples    = 's3://512426816668-gel-data-resources/dragen3.7.8/AggV3_resources/samples/sample_list/2026-01-23/sample_list_aggv3.csv'
     output_dir = 'output'
}

process {
    cpus    = 1
    memory  = 1.GB
}
