containers {
    ubuntu = 'ubuntu:resolute-20251101'
    bedtools = 'staphb/bedtools'
    bcftools = 'staphb/bcftools'
    csvkit = 'jehrhardt/csvkit'
}

process {
    withName: LOCUSTOBED {
        container = containers.ubuntu
    }
    withName: BEDTOSHARD {
        container = containers.bedtools
    }
    withName: GETINDEX {
        container = containers.ubuntu
    }
    withName: VCFTOIDS {
        container = containers.bcftools
    }
    withName: IDSTOSAMPLES {
        container = containers.csvkit
    }
}
