containers {
    ubuntu = 'ubuntu:resolute-20251101'
    bedtools = 'biocontainers/bedtools:v2.27.1dfsg-4-deb_cv1'
    bcftools = 'biocontainers/bcftools:v1.9-1-deb_cv1'
    csvkit = 'jehrhardt/csvkit'
}

process {
    withName: LOCUSTOBED {
        container = containers.ubuntu
    }
    withName: BEDTOSHARD {
        container = containers.bedtools
    }
    withName: SHARDTOVCF {
        container = containers.ubuntu
    }
    withName: GETINDEX {
        container = containers.ubuntu
    }
    withName: VCFTOIDS {
        container = containers.bcftools
    }
    withName: IDSTOSAMPLES {
        container = containers.csvkit
    }
}
