containers {
    python_container = 'quay.io/mvforster/ep_py:latest'
}

process {
    withName: LOCUSTOBED {
        container = containers.python_container
    }
    withName: BEDTOSHARD {
        container = containers.python_container
    }
    withName: SHARDTORESULT {
        container = containers.python_container
    }
}
